body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    /*background: cadetblue;*/
    /*margin-left: 15px;*/
}

.top-row .all-sections {
    margin-left: 5px;
    font-weight: bold;
}

.top-row button {
    margin-left: 10px;
    font-weight: bold;
    border: none;
}
.blue-btn {
    background: #003366;
    color: white;
    border: none;
    padding: 6px 16px;
    cursor: pointer;

}
.boston-herald-mobile {
    text-align: center;
    flex: 1;
    font-size: 32px;
    font-weight: bold;
    color: #0056b3;
}

.second-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 15px;
    font-weight: bold;
    background: aqua;

}

.second-row .tt {
    margin-left: 5px;
    z-index: 1;
}

.boston-herald-desktop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: bold;
    color: #0056b3;
    white-space: nowrap;
    z-index: 0;
}


.section-links a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}

.section-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.trending-links{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    /*transition: padding-left 0.3s ease;*/
    background: blueviolet;
    margin: 15px;

}

.trending-links span {
    font-weight: bold;
    color: #0056b3;
    /*padding: 0 10px;*/
    font-size: 14px;
}

.trending-links a {
    color: black;
    text-decoration: none;
    padding: 20px;

}

.third-row .hr-third-row {
    width: 100%;
    margin: 6px 0;
    border: none;
    border-bottom: 1px solid #777;
    opacity: 1;
}

.hidden {
    display: none;
}

.side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #eee;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 2000;
}

.side-menu.right {
    right: 0;
    left: auto;
    transform: translateX(100%);
}

.side-menu.open {
    transform: translateX(0);
}

#searchBar {
    position: fixed;
    top: 60px;
    width: 100%;
    background: white;
    border-top: 1px solid #ccc;
    padding: 10px;
    z-index: 900;
}

.mobile-only {
    display: none;
}

.boston-herald-mobile {
    display: none;
}

.blank-space {
    height: 250px;
    margin: 20px 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-1 {
    max-width: 1200px;
    padding: 0 15px;
    /*background: green;*/
    margin-bottom: 20px;
}

.headline-title {
    font-size: 30px;
    font-weight: bold;
}

.headline-subtitle {
    color: #777;
}

.top-col1-c1, .middle-col1-c1{
    margin-bottom: 2rem;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.bottom-col1-c1 {
    color:orangered;
    margin-bottom: 100px;
}

.bottom-col1-c1 .hr-promotions{
    border:orangered 1px solid;
    opacity: 1;
    margin-top:0.5rem;
}

.news-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.latest-headlines-title {
    font-size: 20px;
    color: #777;
}

.news-item-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
}

.latest-headline-list .hr-latest-headlines {
    border: 1px solid  #0056b3;
    opacity: 1;
    margin-top: 0.5rem;
}

.latest-headline-list{
    margin-bottom: 4rem;
}

.poster{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding-top: 40px;
}

.poster img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.container-2 {
    max-width: 1200px;
    padding: 0 15px;
    background: green;
    margin-bottom: 20px;
}

.most-popular-title {
    font-size: 20px;
    color: #0056b3;
    margin-bottom: 0;
}

.container-2 hr{
    border: 1px solid  #0056b3;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 20px;
}
.most-popular-list {
    list-style: none;
    padding-left: 0;
    counter-reset:popular-counter;
    font-weight: bold;

}
.right-list {
    counter-reset: popular-counter 5; <!-- parte da 5 -->
}
.most-popular-list li {
    position:relative;
    padding-left: 40px;
    margin-bottom: 12px;
    counter-increment:popular-counter;
}
.most-popular-list li::before {
    content: counter(popular-counter);
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-color: #0056b3;
    color: white;
    border-radius: 50%; /* circolare*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.container-3{
    max-width: 1200px;
    padding: 0 15px;
    background: #0dcaf0;
    margin-bottom: 20px;
}
.section-block{
    margin-bottom: 50px;
}

.section-title a{
    color: gray;
    text-decoration: none;
}

.container-3 a:hover {
    color: #0056b3;
    text-decoration: none;
}
.news-title a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.secondary-news-list a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size:15px;
}
.container-3 img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}
.hr-section-block{
    border: 1px solid  #0056b3;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 20px;
}

.container-4 {
    max-width: 1200px;
    padding: 0 15px;
    /*max-height: 540px;*/
    background: #0dcaf0;
}

.container-4 img{
    width: 100%;
    height: auto;

    object-fit: contain;
}
.container-4 .photo{
    margin-top: 40px;
}

/* Responsive behavior */
@media (max-width: 1040px) {
    .all-sections,
    .subscribe-btn,
    .login-btn, .third-row, .second-row {
        display: none;
    }

    .top-row {
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
    }

    .mobile-only {
        display: inline;
    }

    .boston-herald-mobile {
        display: block;
    }
}

header.scrolled .third-row, header.scrolled .second-row {
    display: none;
}
header.scrolled .boston-herald-mobile {
    display: block;
}
header.scrolled .top-row{
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

@media (max-width:800px){
    .container-4 p{
        display: none;
    }
}
/* 576px-768px */
@media (min-width:576px) and (max-width:768px){
    .six-news{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .six-news .news{
        flex: 0 0 50%;
    }
}

@media (min-width:768px){
    .six-news .news{
        flex: 0 0 100%;
    }
}
@media (max-width: 576px){
    .six-news .news{
        flex: 0 0 100%;
    }
}