body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    /*background: cadetblue;*/
    margin-left: 15px;
}

.top-row .all-sections {
    margin-left: 5px;
    font-weight: bold;
}

.top-row button {
    margin-left: 10px;
    font-weight: bold;
    border: none;
}
.blue-btn {
    background: #003366;
    color: white;
    border: none;
    padding: 6px 16px;
    cursor: pointer;

}
.boston-herald-mobile {
    text-align: center;
    flex: 1;
    font-size: 32px;
    font-weight: bold;
    color: #0056b3;
}

.second-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 15px;
    font-weight: bold;
    background: aqua;

}

.second-row .tt {
    margin-left: 5px;
    z-index: 1;
}

.boston-herald-desktop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    font-weight: bold;
    color: #0056b3;
    white-space: nowrap;
    z-index: 0;
}


.section-links a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}

.section-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.trending-links{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    /*transition: padding-left 0.3s ease;*/
    background: blueviolet;
    margin: 15px;

}
/*.trending{
    display: flex;
    justify-content: center;
    align-items: center;
    background:aqua;
}*/

.trending-links span {
    font-weight: bold;
    color: #0056b3;
    /*padding: 0 10px;*/
    font-size: 14px;
}
.trending-links a {
    color: black;
    text-decoration: none;
    padding: 20px;

}
.third-row .hr-third-row {
    width: 100%;
    margin: 6px 0;
    border: none;
    border-bottom: 1px solid #777;
    opacity: 1;
}
.hidden {
    display: none;
}
.side-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #eee;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 2000;
}
.side-menu.right {
    right: 0;
    left: auto;
    transform: translateX(100%);
}
.side-menu.open {
    transform: translateX(0);
}
#searchBar {
    position: fixed;
    top: 60px;
    width: 100%;
    background: white;
    border-top: 1px solid #ccc;
    padding: 10px;
    z-index: 900;
}
.mobile-only {
    display: none;
}
.boston-herald-mobile {
    display: none;
}

.headline-title {
    font-size: 30px;
    font-weight: bold;
}

.headline-subtitle {
    color: #777;
}
.top-col1-c1, .middle-col1-c1{
    margin-bottom: 2rem;
}
.bottom-col1-c1 {
    color:orangered;
    margin-bottom: 2rem;
}
.bottom-col1-c1 .hr-promotions{
    border:orangered 1px solid;
    opacity: 1;
}

.news-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}
.latest-headlines-title {
    font-size: 20px;
    color: #777;
    margin-bottom: 0.5rem;
}
.latest-headlines-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0;
}
.latest-headline-list .hr-latest-headlines {
    border: 1px solid  #0056b3;
    opacity: 1;
}



/* Responsive behavior */
@media (max-width: 1040px) {
    .all-sections,
    .subscribe-btn,
    .login-btn,.third-row, .second-row {
        display: none;
    }
    .mobile-only {
        display: inline;
    }
    .boston-herald-mobile {
        display: block;
    }

}

header.scrolled .third-row, header.scrolled .second-row {
    display: none;
}
header.scrolled .boston-herald-mobile {
    display: block;
}